.player {
    height: 125px;
    width: 300px;
    background-image: linear-gradient(to right, #acbae8, #5aedc8);
    border-radius: 3%;
    margin: 2% auto;
    padding-top: 2%;
}

@media (min-width: 500px) and (min-height: 400px) {
    .player {
        width: 300px;
        height: 125px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .player {
        width: 300px;
        height: 125px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .player {
        width: 300px;
        height: 125px;
    }
}

.buttonDiv{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}




